<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcbnJ7a2WDTayQXRV4pH-NiBbNicAcKRI</string>
	<key>GCM_SENDER_ID</key>
	<string>30184954202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saloon.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>salon-management-ee7b0</string>
	<key>STORAGE_BUCKET</key>
	<string>salon-management-ee7b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30184954202:ios:513254d1079bcb012efb63</string>
</dict>
</plist>